@model ICoche

<h1>Inyección de dependencias</h1>

<h2 style="color:blue">
    @Model.Marca @Model.Modelo
</h2>
<img src="~/images/@Model.Imagen"
     style="width:250px;height:200px;"/>
<h3 style="color:red">
    Velocidad Actual: @Model.Velocidad
</h3>
<h3 style="color:orange">
    Velocidad Máxima: @Model.VelocidadMaxima
</h3>
<form method="post">
    <button name="accion" value="acelerar"
            class="btn btn-success">
        Acelerar
    </button>
    <button name="accion" value="frenar"
            class="btn btn-danger">
        Frenar
    </button>
</form>
